/*************************** START OF OBJECTIVE ***************************/

section.objective
{
    margin-top: 100vh;
    height: auto;
}
section.objective p
{
    font-size: 1.2em;
    line-height: 2;
    margin: 5% 10%;
    width: 80%;
    text-align: center;
}
/*************************** END OF OBJECTIVE ***************************/